priorityClassName: "system-cluster-critical"

config:
  modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
        follow_redirects: true
        preferred_ip_protocol: "ip4"
    http_api:
      prober: http
      timeout: 5s
      http:
        valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
        follow_redirects: true
        preferred_ip_protocol: "ip4"
        valid_status_codes:
        - 200
        - 300
        - 401
    http_api_insecure:
      prober: http
      timeout: 5s
      http:
        valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
        follow_redirects: true
        preferred_ip_protocol: "ip4"
        tls_config:
          insecure_skip_verify: true
        valid_status_codes:
        - 200
        - 300
        - 401
    icmp:
      prober: icmp
      timeout: 5s
      icmp:
        preferred_ip_protocol: "ip4"
    tcp_connect:
      prober: tcp
      timeout: 5s
      tcp:
        preferred_ip_protocol: "ip4"

serviceMonitor:
  enabled: true
  defaults:
    additionalRelabeling:
    # nodename
    - action: replace
      regex: ^(.*)$
      replacement: $1
      separator: ;
      sourceLabels:
        - "__meta_kubernetes_pod_node_name"
      targetLabel: nodename
    # target
    - action: replace
      regex: ^(.*)$
      replacement: $1
      separator: ;
      sourceLabels:
        - "__param_target"
      targetLabel: target
    # module
    - action: replace
      regex: ^(.*)$
      replacement: $1
      separator: ;
      sourceLabels:
        - "__param_module"
      targetLabel: module
{% if monitoring_common_labels %}
    labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
      {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
  targets:
#    - name: example                    # Human readable URL that will appear in Prometheus / AlertManager
#      url: http://example.com/healthz  # The URL that blackbox will scrape
#      labels: {}                       # Map of labels for ServiceMonitor. Overrides value set in `defaults`
#      interval: 60s                    # Scraping interval. Overrides value set in `defaults`
#      scrapeTimeout: 60s               # Scrape timeout. Overrides value set in `defaults`
#      module: http_2xx                 # Module used for scraping. Overrides value set in `defaults`
#      additionalMetricsRelabels: {}    # Map of metric labels and values to add
{% for target in monitoring_internet_probe_targets %}
      - name: {{ target.name | to_json }}
        url: {{ target.url | to_json }}
        interval: {{ target.interval | to_json }}
        scrapeTimeout: {{ target.scrapeTimeout | to_json }}
        module: {{ target.module | default("http_2xx") | to_json }}
{% endfor %}

pspEnabled: false

## Custom PrometheusRules to be defined
## ref: https://github.com/coreos/prometheus-operator#customresourcedefinitions
prometheusRule:
  enabled: true
  additionalLabels:
    app.kubernetes.io/name: blackbox-exporter
    app.kubernetes.io/instance: blackbox-exporter
    role: alert-rules
  namespace: {{ monitoring_namespace | to_json }}
  rules:
    - alert: mk8s:internet-probe:target-unreachable
      expr: probe_success < 1
      annotations:
        summary:
          One of the internet probe targets could not be reached.
        description:
          The blackbox exporter could not reach one or more of its targets.
          That means that either the target is actually down or the egress
          traffic is disrupted.
      for: 1m
      labels:
        severity: warning

## User and Group to run blackbox-exporter container as
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
# Add NET_RAW to enable ICMP
    add: ["NET_RAW"]

extraArgs:
  - --log.level=debug

affinity: {{ lookup('template', 'roles/config/common_defaults_v1/templates/affinity.json') | to_json }}
tolerations: {{ lookup('template', 'roles/config/common_defaults_v1/templates/tolerations.json') | to_json }}
