---
global:
{% if monitoring_thanos_storage_class is defined %}
  storageClass: {{ monitoring_thanos_storage_class | to_json }}
{% endif %}

existingObjstoreSecret: {{ monitoring_thanos_config_secret_name | quote }}
compactor:
  enabled: true
  extraFlags:
  - "--no-debug.halt-on-error"  # must exit for Kubernetes to restart it
  retentionResolutionRaw: {{ monitoring_thanos_retention_resolution_raw | quote }}
  retentionResolution5m: {{ monitoring_thanos_retention_resolution_5m | quote }}
  retentionResolution1h: {{ monitoring_thanos_retention_resolution_1h | quote }}
  resources: {{ monitoring_thanos_compact_resources | to_json }}
  tolerations: {{ lookup('template', 'roles/config/common_defaults_v1/templates/tolerations.json') | to_json }}
  affinity: {{ lookup('template', 'roles/config/common_defaults_v1/templates/affinity.json') | to_json }}
  persistence:
    enabled: {{ monitoring_thanos_storage_class is defined }}
{% if monitoring_thanos_compactor_size is defined %}
    size: {{ monitoring_thanos_compactor_size | to_json }}
{% endif %}

storegateway:
  enabled: true
{% if monitoring_thanos_store_in_memory_max_size is defined %}
  extraFlags:
  - "--index-cache-size={{ monitoring_thanos_store_in_memory_max_size }}"
{% endif %}
  resources: {{ monitoring_thanos_store_resources | to_json }}
  tolerations: {{ lookup('template', 'roles/config/common_defaults_v1/templates/tolerations.json') | to_json }}
  affinity: {{ lookup('template', 'roles/config/common_defaults_v1/templates/affinity.json') | to_json }}
  pdb:
    create: false
  replicaCount: 1
  persistence:
    enabled: {{ monitoring_thanos_storage_class is defined }}
{% if monitoring_thanos_storegateway_size is defined %}
    size: {{ monitoring_thanos_storegateway_size | to_json }}
{% endif %}

query:
  enabled: true
  resources: {{ monitoring_thanos_query_resources | to_json }}
  dnsDiscovery:
    enabled: true
    sidecarsService: "prometheus-operated"
    sidecarsNamespace: "{{ monitoring_namespace }}"
  affinity: {{ lookup('template', 'roles/config/common_defaults_v1/templates/affinity.json') | to_json }}
  tolerations: {{ lookup('template', 'roles/config/common_defaults_v1/templates/tolerations.json') | to_json }}
  pdb:
    create: false
  replicaCount: 1
  extraFlags:
  - "--query.auto-downsampling"
  - "--query.timeout=1m"

queryFrontend:
  enabled: false

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
{% if monitoring_common_labels %}
    labels:
{% for label_key, label_value in monitoring_common_labels.items() %}
      {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
...
