{% if monitoring_thanos_objectstorage_config_file is defined %}
{{ lookup('file',  monitoring_thanos_objectstorage_config_path + "/" + monitoring_thanos_objectstorage_config_file) }}
{% else %}
type: SWIFT
config:
  auth_url: {{ lookup('env', 'OS_AUTH_URL') | to_json }}
  username: {{ lookup('env', 'OS_USERNAME') | to_json }}
  domain_name: {{ lookup('env', 'OS_USER_DOMAIN_NAME') | to_json }}
  project_name: {{ lookup('env', 'OS_PROJECT_NAME') | to_json }}
  project_domain_id: {{ lookup('env', 'OS_PROJECT_DOMAIN_ID') | to_json }}
  password: {{ lookup('env', 'OS_PASSWORD') | to_json }}
  region_name: {{ lookup('env', 'OS_REGION_NAME') | to_json }}
  container_name: "{{ monitoring_thanos_objectstorage_container_name }}"
{% endif %}
