storageClass:
  enabled: false
secret:
  enabled: true
  create: false
  name: cloud-config
csi:
  provisioner:
{% if k8s_storage_cinder_enable_topology %}
    topology: "true"
{% else %}
    topology: "false"
{% endif %}
  plugin:
    nodePlugin:
      dnsPolicy: ClusterFirst
      priorityClassName: system-node-critical
