cloudConfig:
  loadBalancer:
    enabled: false
cluster:
  name: {{ cluster_name | to_json }}
secret:
  enabled: true
  create: false
  name: cloud-config
dnsPolicy: Default  # https://github.com/kubernetes/cloud-provider-openstack/issues/2611
priorityClassName: system-node-critical
