apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  ignorePreflightErrors:
  - FileAvailable--etc-kubernetes-kubelet.conf
  - FileAvailable--etc-kubernetes-pki-ca.crt
  kubeletExtraArgs:
{% if on_openstack %}
    cloud-provider: "external"
{% endif %}
{% if ipv4_enabled and ipv6_enabled %}
    node-ip: {{ [local_ipv4_address, local_ipv6_address] | join(",") | to_json }}
{% elif ipv4_enabled %}
    node-ip: {{ local_ipv4_address | to_json }}
{% elif ipv6_enabled %}
    node-ip: {{ local_ipv6_address | to_json }}
{% endif %}
  name: {{ inventory_hostname }}

discovery:
  file:
    kubeConfigPath: /etc/kubernetes/kubelet.conf
  timeout: 5m0s
