schedule: "{{ etcd_backup_schedule }}"

namespace: "{{ etcd_backup_namespace }}"

metrics_port : "{{ etcd_backup_metrics_port }}"

priorityClassName: "system-cluster-critical"

targets:
    s3:
      endpoint: "{{ etcd_backup_config.endpoint_url }}"
      bucket: "{{ etcd_backup_bucket_name }}"
      addressingStyle: path
      filePrefix: "{{ etcd_backup_file_prefix }}"
      credentialRef:
        name: "{{ etcd_backup_secret_name }}"

certRef: {{ etcd_backup_config.certRef | to_yaml }}

serviceMonitor:
  enabled: {{ k8s_monitoring_enabled | bool }}
{% if monitoring_common_labels %}
  additionalLabels:
{% for label_key, label_value in monitoring_common_labels.items() %}
    {{ label_key | to_json }}: {{ label_value | to_json }}
{% endfor %}
{% endif %}
